html {
    background-image: url(/img/dali.jpg);
    background-size: 100%;
    color: aliceblue;
}

button {
    border-radius: 15px; 
    font-size: 1.5em; 
    padding: 10px 20px;
    cursor: pointer; 
    margin-bottom: 10px;
}

input[type="text"], input[type="time"] {
    border-radius: 15px; 
    font-size: 1.5em;
    padding: 10px; 
}

h1{
    text-align: center;
    font-size: xx-large;
    font: 900;
}

body {
    text-align: center;
}


 .timer{ /* THE CLASS FOR TIME*/
    font-family: fantasy;
    letter-spacing: 25px;
}

.time2 { /*THE CLASS FOR DATE*/
    font-family: fantasy;
    letter-spacing: 20px;


}
