html {
    background-image: url(/img/223952.jpg);
    background-size: 100%;
    color: aliceblue;
}
;

h1{
    text-align: center;
    font-size: xx-large;
    font: 900;
}

body {
    text-align: center;
}


 .timer{ /* THE CLASS FOR TIME*/
    font-family: fantasy;
    letter-spacing: 25px;
}

.time2 { /*THE CLASS FOR DATE*/
    color: rgb(255, 221, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
